{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="{% static 'game/css/main.css' %}" rel="stylesheet">
    {#    <link href="static/css/all.css" rel="stylesheet">#}
    {#    <link href="static/css/brands.css" rel="stylesheet">#}
    {#    <link href="static/css/fontawesome.css" rel="stylesheet">#}
    {#    <link href="static/css/regular.css" rel="stylesheet">#}
    <link href="{% static 'font-awesome/css/font-awesome.css' %}">

</head>
<body>
<div class="main">
    <div class="playerCard itsTurn"></div>
    <div class="playerCard playerCard2"></div>

    <div class="player player1">
        <div class="playerName">
            <label>Player 1</label>
            <div class="turn" id="p1turn">
                <i class="fa fa-circle"></i>
            </div>
        </div>

        <div class="score">
            0
        </div>
        <div class="totalScore">
            Current<br/><span class="totalScoreNumber">0</span>
        </div>
    </div>
    <div class="game">
        {#        <div>#}
        {#            <button id="newGame">#}
        {#                <i class="far fa-plus-circle"></i>New Game#}
        {#            </button>#}
        {#        </div>#}
        <div>
            <h1 id="max-score">Max: {{ game.max_score }}</h1>

        </div>
        <div class="image">
            <div>
                <img alt="dice1" src="{% static 'game/img/dice-1.png' %}" id="dice1" width="100" height="100" hidden>
            </div>
            <div id="secondDice">
                <img alt="dice2" src="{% static 'game/img/dice-2.png' %}" id="dice2" width="100" height="100" hidden>
            </div>
            <div>
                <img alt="dice3" src="{% static 'game/img/dice-3.png' %}" id="dice3" width="100" height="100" hidden>
            </div>
            <div id="secondDice">
                <img alt="dice4" src="{% static 'game/img/dice-4.png' %}" id="dice4" width="100" height="100" hidden>
            </div>
        </div>
        <div id="player-turn">
            <h3>Wait for your opponent...</h3>
        </div>
        <div id="game-button">
            <div class="m-5">
                <button id="rollDice"><i class="far fa-sync"></i>Roll Dice</button>
            </div>
            <div class="m-5">
                <button id="hold"><i class="far fa-pause"></i>Hold</button>
            </div>
        </div>

    </div>
    <div class="player player2">
        <div class="playerName">
            <label>Player 2</label>
            <div class="turn" id="p2turn">
                <i class="fa fa-circle hide-dot"></i>
            </div>
        </div>

        <div class="score">
            0
        </div>
        <div class="totalScore">
            Current<br/><span class="totalScoreNumber">0</span>
        </div>
    </div>

</div>

<script src="{% static 'jquery/jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var maxScore = {{ game.max_score }};
    var dice_count = {{ game.dice_count }};
    var hold_number = [{{ game.hold }}];
    var max_roll_count = {{ game.max_roll }};
    var game_id = '{{ game_id }}';
    var myTurn = {{ myTurn }};
</script>
<script src="{% static 'game/js/main.js' %}" type="text/javascript"></script>

</body>
</html>