{% extends 'index.html' %}

{% block header %}
    <h1>Create your own game!</h1>
{% endblock %}


{% block body %}
    <div class="panel-body col-sm-7">
        <div class="col-lg-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Green Panel
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
                        accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="panel-footer">
                    Panel Footer
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>

    </div>
{% endblock body %}