{% extends 'index.html' %}

{% block header %}
    <h1>Games</h1>
{% endblock %}


{% block body %}
    <div class="panel-body col-sm-7">
        {% for game in games %}
            <div class="col-lg-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        {{ game.name }}
                    </div>
                    <div class="panel-body">
                        <div> Rate:{{ game.rate }}</div>
                        <div> Created At:{{ game.creation_date }}</div>
                    </div>
                    {#                    <div class="panel-footer">#}
                    {#                        Panel Footer#}
                    {#                    </div>#}
                </div>
                <!-- /.col-lg-4 -->
            </div>
        {% endfor %}

    </div>
{% endblock body %}