{% extends 'index.html' %}
{% load static %}
{% block header %}
    <h1 class="page-header">HomePage</h1>
{% endblock header %}


{% block body %}
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sliders fa-fw"></i> Games News
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- slider -->
                <div id="slider-homepage" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#slider-homepage" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-homepage" data-slide-to="1"></li>
                        <li data-target="#slider-homepage" data-slide-to="2"></li>
                    </ul>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <p>{{ bestGame }}</p>
                        </div>
                        <div class="item">
                            <p>{{ maxOnline }}</p>
                        </div>
                        <div class="item">
                            <p>{{ bestNewGame }}</p>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#slider-homepage" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#slider-homepage" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sliders fa-fw"></i> Games
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- slider -->
                <div class="list-group">
                    {% for game in games %}
                        <a href="{% url 'game_view' %}?id={{ game.id }}"
                           class="list-group-item list-group-item-action ">
                            {{ game.name }}
                        </a>
                    {% endfor %}

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> OnlineUser
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                {% for onlineUser in onlineUsers %}
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-user fa-fw"></i> {{ onlineUser.username }}
                            {#                            <span class="pull-right text-muted small"><em>4 minutes ago</em>#}
                            {#                                    </span>#}
                        </a>
                    </div>
                    <!-- /.list-group -->
                {% endfor %}
            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
{% endblock %}

{% block script %}
    <script src="{% static '/angular/angular.js' %}"></script>
    <script type="text/javascript">
        {#var data_slider = [#}
        {#    {#}
        {#        index: 0,#}
        {#        data: 'asghar'#}
        {#    },#}
        {#    {#}
        {#        index: 1,#}
        {#        data: 'mammad'#}
        {#    },#}
        {#];#}
        {#var app = angular.module('sliderApp', []);#}
        {#app.config(['$interpolateProvider', function ($interpolateProvider) {#}
        {#    $interpolateProvider.startSymbol('{a');#}
        {#    $interpolateProvider.endSymbol('a}');#}
        {#}])
        ;
        #}
        {#app.controller('slider_controller', function () {#}
        {#    this.slider_data = data_slider;#}
        {#})
        ;
        #}
    </script>
{% endblock %}